{% extends 'base.html' %}

{% load static %}

{% block content %}
<div style="margin: 0 auto; max-width: 400px; padding-bottom: 50px;">
<h2 style="text-align: center;">Вход в систему</h2>
<form method="post">
    {% csrf_token %}
    <div style="max-width: 400px;">{{ form.as_p }}</div>
    <button class="btn" style="background-color: #FF4500; color: white;" type="submit">Вход</button>

</form>
{% if form.non_field_errors %}
    <p>{{ form.non_field_errors }}</p>
{% endif %}
</div>
{% endblock %}
