

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   /
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-footer {
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
}

a.text-decoration-none {
    text-decoration: none;
}

a:hover {
    color: #FF4500;
}

.badge {
    font-size: 1em;

}

.badge:hover {
    color: #FF4500;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.card-body {
    padding: 2rem;
}

.img-fluid {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    max-height: 500px;
    object-fit: cover;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #ff8c00;
    border-color: #ff8c00;
}


/* Глобальные стили, если нужно добавить кастомизацию, которой нет в Bootstrap */
input, textarea, select {
    width: 100%; /* Позволяет элементам формы занимать полную ширину контейнера */
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.btn-lg.btn-block {
    width: 100%; /* Позволяет кнопке занимать полную ширину контейнера */
}

.needs-validation .form-control {
    border: 1px solid #ced4da; /* Стандартные границы для полей ввода Bootstrap */
    border-radius: 0.25rem; /* Скругление углов */
}

.needs-validation .form-control:focus {
    border-color: #80bdff; /* Цвет границы при фокусе */
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Тень при фокусе */
}

.needs-validation .invalid-feedback {
    display: none; /* Скрыть по умолчанию */
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545; /* Цвет текста Bootstrap для ошибок */
}


.btn-outline-primary {
    border-color: #007bff; /* Синий цвет границы по умолчанию */
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #ff8c00; /* Оранжевый фон при наведении */
    border-color: #ff8c00; /* Оранжевая граница при наведении */
    color: white; /* Белый текст при наведении */
}

